/*/*.cred
/bin
/Testing
**/zzTesting/**
**/zzTesting/*
**/zzTesting
/zzArchive
/.DS_Store
/.vscode
/Logs
/*/Logs
*stuff*
/Powershell/*/zzTesting
Powershell/.DS_Store
Powershell/Install-RBS-v2/.vscode/launch.json
Powershell/Install-RBS-v2/.vscode/tasks.json
